$color_1: white;
$background-color_1: #04AA6D;

/*
form input {
  display: block;
  font-size: 14px;
}

form label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
*/
form {
	margin: 15px 30%;
	border: 1px solid gray;
	border-radius: 1rem;
	padding: 20px;
	box-sizing: border-box;
	select {
		margin-bottom: 20px;
	}
}
input[type=text] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
select {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
.col-25 {
	float: left;
	margin-top: 6px;
	width: 25%;
}
.col-75 {
	float: left;
	margin-top: 6px;
	width: 75%;
}
input[type=submit] {
	background-color: $background-color_1;
	color: $color_1;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
@media screen and (min-width: 850px) {
	form {
		margin: 15px 40%;
		border: 1px solid gray;
		border-radius: 1rem;
		padding: 20px;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 600px) {
	.col-25 {
		width: 100%;
		margin-top: 0;
	}
	.col-75 {
		width: 100%;
		margin-top: 0;
	}
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}
